.mozart-options {
	border-collapse: collapse;
	margin-bottom: -8px;
	margin-left: -10px;
	margin-top: -6px;
}

.mozart-options th {
	background-color: #eaeaea;
	color: #21759b;
	font-weight: normal;
	text-align: left;
	line-height: 22px;
	padding: 10px;
	vertical-align: top;
	width: 100px;
}

.mozart-options td {
	padding: 10px;
}

.mozart-options td ul {
	margin: 0px;
}

.mozart-options td ul li {
	line-height: 22px;
}

.mozart {
	background-color: #fcfcfc;
	border: 1px solid #dfdfdf;
	border-radius: 3px;
	margin-top: 20px;
	overflow: hidden;
	width: 920px;
}

.mozart-wrapper {
	display: table;
	width: 100%;
}

.mozart-wrapper .page-title {
	background: #f1f1f1;
	background-image: linear-gradient(to top, #ececec, #f9f9f9);
	border-bottom: 1px solid #dfdfdf;
	color: #333;
	font-size: 18px;
	font-weight: normal;
	height: 50px;
	line-height: 50px;
	margin: 0px;
	padding-left: 20px;
}

.mozart-wrapper .mozart-inner {
	display: table-row;
}

.mozart-wrapper .mozart-actions {
	background: #f1f1f1;
	background-image: linear-gradient(to top, #ececec, #f9f9f9);
	border-bottom: 1px solid #dfdfdf;
	padding: 0px 10px;
	text-align: right;
}

.mozart-wrapper .mozart-actions p {
	margin: 0px;
}

.mozart-wrapper .mozart-actions.bottom {
	border-bottom: 0px;
	border-top: 1px solid #dfdfdf;
}

.mozart-wrapper .mozart-sidebar {
	background-color: #f9f9f9;
	border-right: 1px solid #dfdfdf;
	display: table-cell;
	vertical-align: top;
	width: 200px;
}

.mozart-wrapper .mozart-sidebar img {
	display: block;
}

.mozart-wrapper .mozart-content .active-tab-title {
	color: #3D81B6;
	font-size: 30px;
	font-weight: normal;
	line-height: 80px;
	margin: 0px;
}

.mozart-wrapper .mozart-content {
	display: table-cell;
	height: 200px;
	padding: 4px 10px 19px 10px;
	vertical-align: top;
}

.mozart-wrapper .nav-tab-wrapper {
	border: 0px;
	margin: 0px;
}

.mozart-wrapper .nav-tab-wrapper a {
	border: 0px;
	border-bottom: 1px solid #dfdfdf;
	border-top: 1px solid #fff;
	border-radius: 0px;
	color: #21759b;
	display: block;
	font-size: 13px;
	font-weight: bold;
	margin: 0px;
	padding: 10px 20px;
	text-shadow: none;
}

.mozart-wrapper .nav-tab-wrapper a:hover {
	color: #d54e21;
}

.mozart-wrapper .nav-tab-wrapper a.nav-tab-active {
	background-color: #fcfcfc;
	color: #333;
	margin-right: -1px;
}