.animat-text-link{
	text-decoration: none;
}
.cq-animate-text {
	display: inline-block;
	border-radius: 2px;
	margin-left: .5em;
	margin-right: .5em;
	/*padding: 8px 4px;*/
	padding: 8px 4px 8px 4px;
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 0 rgba(0,0,0, .15);
	font-size: 11px;
	letter-spacing: 1px;
	/*cursor: pointer;*/
}
sup.cq-animate-text{
	margin-top: -0.5em;
}
sub.cq-animate-text{
	display: inline-block;
	margin-bottom: -0.5em;
}


.animation-01,
.animation-04,
.animation-05,
.animation-06,
.animation-07,
.animation-08,
.animation-09{ display: inline-block }


.animation-01 {
	position: relative; top: 0;
	box-shadow: 0  1px 4px -1px rgba(0, 0, 0, .4);
	-webkit-animation: animation-01 2.5s ease-in infinite;
	-moz-animation: animation-01 2.5s ease-in infinite;
	-ms-animation: animation-01 2.5s ease-in infinite;
	animation: animation-01 2.5s ease-in infinite }
@-webkit-keyframes animation-01 {
	25%,
	60% { top: -5px; box-shadow: 0 18px 12px -8px rgba(0, 0, 0, .2) }
	85% { top:   0px; box-shadow: 0  1px  4px -1px rgba(0, 0, 0, .4) } }
@-moz-keyframes animation-01 {
	25%,
	60% { top: -5px; box-shadow: 0 18px 12px -8px rgba(0, 0, 0, .2) }
	85% { top:   0px; box-shadow: 0  1px  4px -1px rgba(0, 0, 0, .4) } }
@-ms-keyframes animation-01 {
	25%,
	60% { top: -5px; box-shadow: 0 18px 12px -8px rgba(0, 0, 0, .2) }
	85% { top:   0px; box-shadow: 0  1px  4px -1px rgba(0, 0, 0, .4) } }
@keyframes animation-01 {
	25%,
	60% { top: -5px; box-shadow: 0 18px 12px -8px rgba(0, 0, 0, .2) }
	85% { top:   0px; box-shadow: 0  1px  4px -1px rgba(0, 0, 0, .4) } }


.animation-02,
.animation-03 {
		padding: 0;
		letter-spacing: 0 }
.animation-02 span,
.animation-03 span {
	/*display: inline-block;*/
}
.animation-03 span {
	display: inline-block;
	padding: 8px 0px;
}

.animation-02 span:first-child,
.animation-03 span:first-child {
		border-radius: 3px 0 0 3px;
		padding-left: 4px }
.animation-02 span:last-child,
.animation-03 span:last-child {
		border-radius: 0 3px 3px 0;
		padding-right: 4px }


/*.animation-01 span {
	padding: 2px 0px;
	position: relative; bottom: 0;
	-webkit-animation: animation-01 3s ease-out infinite;
	   -moz-animation: animation-01 3s ease-out infinite
	   animation: animation-01 3s ease-out infinite
}
.animation-01 span:nth-child( 2) { -webkit-animation-delay:  .2s; -moz-animation-delay:  .2s }
.animation-01 span:nth-child( 3) { -webkit-animation-delay:  .4s; -moz-animation-delay:  .4s }
.animation-01 span:nth-child( 4) { -webkit-animation-delay:  .6s; -moz-animation-delay:  .6s }
.animation-01 span:nth-child( 5) { -webkit-animation-delay:  .8s; -moz-animation-delay:  .8s }
.animation-01 span:nth-child( 6) { -webkit-animation-delay: 1.0s; -moz-animation-delay: 1.0s }
.animation-01 span:nth-child( 7) { -webkit-animation-delay: 1.2s; -moz-animation-delay: 1.2s }
.animation-01 span:nth-child( 8) { -webkit-animation-delay: 1.4s; -moz-animation-delay: 1.4s }
.animation-01 span:nth-child( 9) { -webkit-animation-delay: 1.6s; -moz-animation-delay: 1.6s }
.animation-01 span:nth-child(10) { -webkit-animation-delay: 1.8s; -moz-animation-delay: 1.8s }
@-webkit-keyframes animation-01 { 70% { background: #333;} 85% { background: #666;} }
@-moz-keyframes animation-01 { 70% { background: #333;} 85% { background: #666;} }
@-ms-keyframes animation-01 { 70% { background: #333;} 85% { background: #666;} }
@keyframes animation-01 { 70% { background: #333;} 85% { background: #666;} }*/

.animation-02 span {
	display: inline-block;
	padding: 8px 0px;
	position: relative; bottom: 0;
	-webkit-animation: animation-02 2s ease-out infinite;
	-ms-animation: animation-02 2s ease-out infinite;
	-moz-animation: animation-02 2s ease-out infinite;
   	animation: animation-02 2s ease-out infinite;
}
.animation-02 span:nth-child( 2) { -webkit-animation-delay:  .2s; -moz-animation-delay:  .2s }
.animation-02 span:nth-child( 3) { -webkit-animation-delay:  .4s; -moz-animation-delay:  .4s }
.animation-02 span:nth-child( 4) { -webkit-animation-delay:  .6s; -moz-animation-delay:  .6s }
.animation-02 span:nth-child( 5) { -webkit-animation-delay:  .8s; -moz-animation-delay:  .8s }
.animation-02 span:nth-child( 6) { -webkit-animation-delay: 1.0s; -moz-animation-delay: 1.0s }
.animation-02 span:nth-child( 7) { -webkit-animation-delay: 1.2s; -moz-animation-delay: 1.2s }
.animation-02 span:nth-child( 8) { -webkit-animation-delay: 1.4s; -moz-animation-delay: 1.4s }
.animation-02 span:nth-child( 9) { -webkit-animation-delay: 1.6s; -moz-animation-delay: 1.6s }
.animation-02 span:nth-child(10) { -webkit-animation-delay: 1.8s; -moz-animation-delay: 1.8s }
@-webkit-keyframes animation-02 { 70% { bottom: 0 } 85% { bottom: 7px } }
@-moz-keyframes animation-02 { 70% { bottom: 0 } 85% { bottom: 7px } }
@-ms-keyframes animation-02 { 70% { bottom: 0 } 85% { bottom: 7px } }
@keyframes animation-02 { 70% { bottom: 0 } 85% { bottom: 7px } }

.animation-03 {}
.animation-03 span {
	position: relative;
	-webkit-animation: animation-03 2s ease-out infinite;
	-ms-animation: animation-03 2s ease-out infinite;
	-moz-animation: animation-03 2s ease-out infinite;
	animation: animation-03 2s ease-out infinite;
}
.animation-03 span:nth-child( 2) { -webkit-animation-delay:  .2s; -moz-animation-delay:  .2s }
.animation-03 span:nth-child( 3) { -webkit-animation-delay:  .4s; -moz-animation-delay:  .4s }
.animation-03 span:nth-child( 4) { -webkit-animation-delay:  .6s; -moz-animation-delay:  .6s }
.animation-03 span:nth-child( 5) { -webkit-animation-delay:  .8s; -moz-animation-delay:  .8s }
.animation-03 span:nth-child( 6) { -webkit-animation-delay: 1.0s; -moz-animation-delay: 1.0s }
.animation-03 span:nth-child( 7) { -webkit-animation-delay: 1.2s; -moz-animation-delay: 1.2s }
.animation-03 span:nth-child( 8) { -webkit-animation-delay: 1.4s; -moz-animation-delay: 1.4s }
.animation-03 span:nth-child( 9) { -webkit-animation-delay: 1.6s; -moz-animation-delay: 1.6s }
.animation-03 span:nth-child(10) { -webkit-animation-delay: 1.8s; -moz-animation-delay: 1.8s }
@-webkit-keyframes animation-03 {
	 43%,
	 57% { -webkit-transform: rotateX(0) }
	 50% { -webkit-transform: rotateX(180deg) }}
@-ms-keyframes animation-03 {
	 43%,
	 57% { -moz-transform: rotateX(0) }
	 50% { -moz-transform: rotateX(180deg) }}
@-moz-keyframes animation-03 {
	 43%,
	 57% { -moz-transform: rotateX(0) }
	 50% { -moz-transform: rotateX(180deg) }}
@keyframes animation-03 {
	 43%,
	 57% { -moz-transform: rotateX(0) }
	 50% { -moz-transform: rotateX(180deg) }}



/*.animation-04 {
	-webkit-animation: animation-04 2s ease-in-out infinite;
	-moz-animation: animation-04 2s ease-in-out infinite;
	-ms-animation: animation-04 2s ease-in-out infinite;
	animation: animation-04 2s ease-in-out infinite;
}
@-webkit-keyframes animation-04 {
	 30%,
	 70% { background: #54bb00 }
	 50% { background: #98f139; box-shadow: 0 0 7px #98f139 }}
@-moz-keyframes animation-04 {
	 30%,
	 70% { background: #54bb00 }
	 50% { background: #98f139; box-shadow: 0 0 7px #98f139 }}
@-ms-keyframes animation-04 {
	 30%,
	 70% { background: #54bb00 }
	 50% { background: #98f139; box-shadow: 0 0 7px #98f139 }}
@keyframes animation-04 {
	 30%,
	 70% { background: #54bb00 }
	 50% { background: #98f139; box-shadow: 0 0 7px #98f139 }}*/

.animation-04 { overflow: hidden }
.animation-04 span {
	position: relative;
	-webkit-animation: animation-04 2s linear infinite;
	-moz-animation: animation-04 2s linear infinite;
	-ms-animation: animation-04 2s linear infinite;
	animation: animation-04 2s linear infinite; }
@-webkit-keyframes animation-04 { 0% { bottom:  1em } 100% { bottom: -1em } }
@-moz-keyframes animation-04 { 0% { bottom:  1em } 100% { bottom: -1em } }
@-ms-keyframes animation-04 { 0% { bottom:  1em } 100% { bottom: -1em } }
@keyframes animation-04 { 0% { bottom:  1em } 100% { bottom: -1em } }

.animation-05 {
	position: relative; bottom: 0;
	-webkit-animation: animation-05 1.5s ease-in-out infinite;
	-moz-animation: animation-05 1.5s ease-in-out infinite;
	-ms-animation: animation-05 1.5s ease-in-out infinite;
	animation: animation-05 1.5s ease-in-out infinite;
}
@-webkit-keyframes animation-05 {
	 50% { -webkit-transform: rotate(0deg); bottom: 0 }
	 60% { -webkit-transform: rotate(5deg); bottom: 3px }
	 70% { -webkit-transform: rotate(-5deg) }  80% { -webkit-transform: rotate(4deg) }
	 90% { -webkit-transform: rotate(-3deg) } 100% { -webkit-transform: rotate(0deg) } }
@-moz-keyframes animation-05 {
	 50% { -moz-transform: rotate(0deg); bottom: 0 }
	 60% { -moz-transform: rotate(5deg); bottom: 3px }
	 70% { -moz-transform: rotate(-5deg) }  80% { -moz-transform: rotate(4deg) }
	 90% { -moz-transform: rotate(-3deg) } 100% { -moz-transform: rotate(0deg) } }
@-ms-keyframes animation-05 {
	 50% { -moz-transform: rotate(0deg); bottom: 0 }
	 60% { -moz-transform: rotate(5deg); bottom: 3px }
	 70% { -moz-transform: rotate(-5deg) }  80% { -moz-transform: rotate(4deg) }
	 90% { -moz-transform: rotate(-3deg) } 100% { -moz-transform: rotate(0deg) } }
@keyframes animation-05 {
	 50% { -moz-transform: rotate(0deg); bottom: 0 }
	 60% { -moz-transform: rotate(5deg); bottom: 3px }
	 70% { -moz-transform: rotate(-5deg) }  80% { -moz-transform: rotate(4deg) }
	 90% { -moz-transform: rotate(-3deg) } 100% { -moz-transform: rotate(0deg) } }

.animation-06 {
	-webkit-animation: animation-06 2s ease-in infinite;
	-moz-animation: animation-06 2s ease-in infinite;
	-ms-animation: animation-06 2s ease-in infinite;
	animation: animation-06 2s ease-in infinite;
}
@-webkit-keyframes animation-06 {
	 48%,
	 62% { -webkit-transform: scale(1.0, 1.0) }
	 50% { -webkit-transform: scale(1.1, 0.9) }
	 56% { -webkit-transform: scale(0.9, 1.1) translate(0, -5px) }
	 59% { -webkit-transform: scale(1.0, 1.0) translate(0, -3px) } }
@-moz-keyframes animation-06 {
	 48%,
	 59% { -moz-transform: scale(1.0, 1.0) }
	 50% { -moz-transform: scale(1.1, 0.9) }
	 53% { -moz-transform: scale(0.9, 1.1) translate(0, -5px) }
	 57% { -moz-transform: scale(1.0, 1.0) translate(0, -3px) } }
@-ms-keyframes animation-06 {
	 48%,
	 59% { -moz-transform: scale(1.0, 1.0) }
	 50% { -moz-transform: scale(1.1, 0.9) }
	 53% { -moz-transform: scale(0.9, 1.1) translate(0, -5px) }
	 57% { -moz-transform: scale(1.0, 1.0) translate(0, -3px) } }
@keyframes animation-06 {
	 48%,
	 59% { -moz-transform: scale(1.0, 1.0) }
	 50% { -moz-transform: scale(1.1, 0.9) }
	 53% { -moz-transform: scale(0.9, 1.1) translate(0, -5px) }
	 57% { -moz-transform: scale(1.0, 1.0) translate(0, -3px) } }

.animation-07 {
	-webkit-animation: animation-07 2s ease-in infinite;
	-ms-animation: animation-07 2s ease-in infinite;
	-moz-animation: animation-07 2s ease-in infinite;
	animation: animation-07 2s ease-in infinite;
}
@-webkit-keyframes animation-07 {
	38%,
	62% { -webkit-transform: rotateX(0) }
	50% { -webkit-transform: rotateX(180deg) } }
@-moz-keyframes animation-07 {
	38%,
	62% { -moz-transform: rotateX(0) }
	50% { -moz-transform: rotateX(180deg) } }
@-ms-keyframes animation-07 {
	38%,
	62% { -webkit-transform: rotateX(0) }
	50% { -webkit-transform: rotateX(180deg) } }
@keyframes animation-07 {
	38%,
	62% { -moz-transform: rotateX(0) }
	50% { -moz-transform: rotateX(180deg) } }

.animation-08 span {
	display: block;
	position: relative;
	-webkit-animation: animation-08 2s ease-in-out infinite;
	-moz-animation: animation-08 2s ease-in-out infinite;
	-ms-animation: animation-08 2s ease-in-out infinite;
	animation: animation-08 2s ease-in-out infinite;
}
@-webkit-keyframes animation-08 {
	60% { -webkit-transform: scale(1);  top: 0 }
	72%,
	88% { -webkit-transform: scale(1.4); top: -3px } }
@-moz-keyframes animation-08 {
	60% { -moz-transform: scale(1);  top: 0 }
	75%,
	85% { -moz-transform: scale(1.4); top: -3px } }
@-ms-keyframes animation-08 {
	60% { -webkit-transform: scale(1);  top: 0 }
	72%,
	88% { -webkit-transform: scale(1.4); top: -3px } }
@keyframes animation-08 {
	60% { -moz-transform: scale(1);  top: 0 }
	75%,
	85% { -moz-transform: scale(1.4); top: -3px } }

.animation-09 { overflow: hidden }
.animation-09 span {
	position: relative;
	-webkit-animation: animation-09 4s linear infinite;
	-moz-animation: animation-09 4s linear infinite;
	-ms-animation: animation-09 4s linear infinite;
	animation: animation-09 4s linear infinite;
}
@-webkit-keyframes animation-09 { 0% { left:  100% } 100% { left: -100% } }
@-moz-keyframes animation-09 { 0% { left:  100% } 100% { left: -100% } }
@-ms-keyframes animation-09 { 0% { left:  100% } 100% { left: -100% } }
@keyframes animation-09 { 0% { left:  100% } 100% { left: -100% } }



