<div class="page-header">
        <h1>{{ 'Add submission'|translate }}</h1>
</div>
{% include '@twigs/sections/progress.twig' %}
<form method="post" action="" enctype="multipart/form-data" class="submission-form form-vertical">
    <div class="row">

        {{ form.content|raw }}
        <div class="col-xs-4">
            {{ form.metabox._setup() }}
        </div>
    </div>

    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="{{ 'Save'|translate }}">
    </div>
</form>
