<div class="page-header">
    <h1>
        {% if wp.parameter('property', 'homepage', 'title') %}
            {{ wp.parameter('property', 'homepage', 'title') }}
        {% endif %}
    </h1>
</div>

<div class="properties-grid">
    <div class="{% if wp.parameter('property', 'homepage', 'cols') > 3 %}row{% else %}row{% endif %}">
        {% for post in posts %}
            <div class="col-xs-3">
                {% include 'PropertyBundle:Property:property-box-small.html.twig' with {'property': post} %}
            </div>

            {% if loop.index % wp.parameter('property', 'homepage', 'cols')  == 0 %}
            </div>
            <div class="{% if wp.parameter('property', 'homepage', 'cols') > 3 %}row{% else %}row{% endif %}">
            {% endif %}
        {% endfor %}
    </div><!-- /.row -->
</div><!-- /.properties-grid -->
