{% if wp.get_post_meta(post.ID, '_property_slides', true) %}
    <div class="carousel property">
        <div class="preview">
            <img src="{{ wp.get_post_meta(post.ID, '_property_slides', true).0.imgurl }}" alt="">
        </div><!-- /.preview -->

        <div class="content">
            <ul>
                {% for slide in wp.get_post_meta(post.ID, '_property_slides', true) %}
                    {% if loop.first %}
                        <li class="active">
                    {% else %}
                        <li>
                    {% endif %}
                        <img src="{{ slide.imgurl }}" alt="">
                    </li>
                {% endfor %}
            </ul>

            <a id="carousel-prev" href="#">{{ 'Previous'|translate }}</a>
            <a id="carousel-next" href="#">{{ 'Next'|translate }}</a>
        </div><!-- /.content -->
    </div><!-- /.carousel -->
{% endif %}
